<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title id="title">Appointment Records
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg_img">
  <div id="container">
   <ion-grid id="backinfo">

    <div *ngIf="usertype == 'patient'">
      <ion-row class="ion-align-items-center" id="info">
        <ion-col size="12">
          <h4>{{caption}}</h4>
        </ion-col>
        <ion-col size="3">
          <h4>From</h4>
        </ion-col>
        <ion-col size="3">
          <h4>Date</h4>
        </ion-col>
        <ion-col size="3">
          <h4>Time</h4>
        </ion-col>  
        <ion-col size="3">
          <h4>Means</h4>
        </ion-col>
        <ion-col size="3" style="display:none;">
          <h4>Status</h4>
        </ion-col>
      </ion-row>
       <ion-row class="ion-align-items-center info" id="info" *ngFor="let data of appointdata">
        <ion-col size="3">
          <p>{{data.partname}}</p>
        </ion-col>
        <ion-col size="3">
          <p>{{data.visitdate}}</p>
        </ion-col>
        <ion-col size="3">
          <p>{{data.visittime}}</p>
        </ion-col>
        <ion-col size="3">
          <p>{{data.visitmeans}}</p>
        </ion-col>
        <ion-col size="3" style="display:none;">
          <div id="info" *ngIf="data.bookstatus == 'false' || data.bookstatus == ''">
            <!--<ion-button size="" expand="block" class="end bookrequest2" id="register">
               Pending
            </ion-button>-->
            <p class="status">Pending</p>
            </div>
            <div id="info" *ngIf="data.bookstatus == 'true'">
              <!--<ion-button size="" expand="block" class="end bookrequest" id="register">
                 Completed
              </ion-button>-->
              <p class="status">Completed</p>
            </div>
        </ion-col>
       </ion-row>
       </div>


       <div *ngIf="usertype == 'physician' || usertype == 'nurse'">
        <ion-row class="ion-align-items-center" id="info">
          <ion-col size="12">
            <h4>{{caption}}</h4>
          </ion-col>
          <ion-col size="3">
            <h4>To</h4>
          </ion-col>
          <ion-col size="3">
            <h4>Date</h4>
          </ion-col>
          <ion-col size="3">
            <h4>Time</h4>
          </ion-col>  
          <ion-col size="3">
            <h4>Means</h4>
          </ion-col>
          <ion-col size="3" style="display:none;">
            <h4>Status</h4>
          </ion-col>
        </ion-row>
         <ion-row class="ion-align-items-center info" id="info" *ngFor="let data2 of appointdata2">
          <ion-col size="3">
            <p>{{data2.patname}}</p>
          </ion-col>
          <ion-col size="3">
            <p>{{data2.visitdate}}</p>
          </ion-col>
          <ion-col size="3">
            <p>{{data2.visittime}}</p>
          </ion-col>
          <ion-col size="3">
            <p>{{data2.visitmeans}}</p>
          </ion-col>
          <ion-col size="3" style="display:none;">
            <div id="info" *ngIf="data2.bookstatus == 'false' || data2.bookstatus == ''">
              <!-- <ion-button size="" expand="block" class="end bookrequest2" id="register" 
          (click)="completePatient(data2.patid)">
             Accept
          </ion-button>-->
              <p class="status">Pending</p>
              </div>
              <div id="info" *ngIf="data2.bookstatus == 'true'">
                <!--<ion-button size="" expand="block" class="end bookrequest" id="register">
                   Completed
                </ion-button>-->
                <p class="status">Completed</p>
              </div>
          </ion-col>
         </ion-row>
         </div>



    </ion-grid>

  </div>



</ion-content>

