ion-list {
    background: var(--transparent) !important;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    position: relative;
    z-index: 2;

    #textarea {
        padding: 25px;
    }

    ion-item {
        min-height: unset !important;
        --min-height: unset !important;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        --background: var(--transparent) !important;
        background: rgba(44,193,239,0.6);
        --background-activated: var(--transparent) !important;
        --background-hover: var(--transparent) !important;
        --ripple-color: var(--transparent) !important;
        --background-focused: var(--transparent) !important;
        margin-bottom: 8px;

        .item_inner {
            width: 100%;

            h2 {
                margin: 0;
                color: var(--white);
                font-size: 1.11rem;
                font-weight: 600;
                letter-spacing: .5px;
            }
        }



        ion-textarea,
        ion-input,ion-datetime {
            --padding: 0 !important;
            font-size: 13px !important;
            font-weight: 500 !important;
            letter-spacing: 0;
            --padding-start: 0px !important;
            --padding-end: 0px !important;
            --padding-top: 10px !important;
            --padding-bottom: 10px !important;
            color: #fff;
            --placeholder-color: #fff !important;
            --placeholder-opacity: .5;
            --placeholder-font-weight: 500 !important;
            flex: unset !important;
            margin-left: -30px;
            width: 280px;
        

            input {
                --padding: var(--no-padding);

                &.native-input {
                    --padding: var(--no-padding);
                }
            }
        }
 
    }
}


.form {
    .btn {
        --background: #29bf12;
        color:#fff;
        height: 33px;
        font-size: 13px;
    }
}

#info {
    background-color: rgba(4, 199, 255, 0.8);
    border-radius: 0px;
    padding: 5px;
    font-size: 13px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;
  
  }