<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title id="title">Birth Certificate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg_img">

    <div id="container">

      <ion-grid>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
           <ion-card id="cardinfo" *ngIf="birthcertstatus">
             <div class="logo ion-text-center">
              
              <h1 class="ion-text-center" style="font-size:15px;">BIRTH CERTIFICATE</h1>
             </div>
              <div id="div_img">
                <p>This is to certify that</p>
                <hr>
                <p><span style="font-weight: 700;">{{name}}</span></p>
                <hr>
                <p>Was born to</p>
                <hr>
                <p><span style="font-weight: 700;">{{fname}}</span> and <span style="font-weight: 700;">{{mname}}</span></p>
                <hr>
                <p>On <span style="font-weight: 700;">{{birthdate}}:{{birthtime}} </span></p>
                <hr>
                <p>At<span style="font-weight: 700;"> {{birthplace}}</span></p>
                <hr>
                <p>Name of Hospital: {{hospname}}</p>
                <hr>
                <p>Physician on Duty: {{phyname}}</p>
              </div>
           </ion-card>

           <ion-card id="cardinfo" *ngIf="!birthcertstatus">
            <div class="logo ion-text-center">
             
             <h1 class="ion-text-center" style="font-size:15px;">BIRTH CERTIFICATE</h1>
            </div>
             <div id="div_img">
               <p>Birth Certificate Not Yet Created</p>
             </div>
          </ion-card>
          </ion-col>
        </ion-row>


      </ion-grid>

    </div>
     

</ion-content>

