#medkit {
    color:#787878;
    text-align: center;
    font-size: 50px;
  
    #name {
      font-size: 18px;
      color:#787878;
      margin-top: -40px;
    }

    ion-label {
       color:#fff;
       font-size:13px;
    }
  
    ion-button {
      margin-top: -50px;
    }
  }

  ion-input {
    --box-shadow:none;
  }
  
  
  .mybutton {
    --background: transparent;
    color:#2cc1ef;
    height: 30px;
    border: 1px solid #2cc1ef;
  }

  .mybutton2 {

  --background: #2cc1ef;
    color:#fff;
    height: 30px;

  }


  ion-segment {
    border: none !important;
    background: none !important;

    ion-segment-button {
        background: rgba(44,193,239,0.7);
        position: relative;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--white) !important;
        text-transform: unset !important;
        letter-spacing: 0;
        --background-checked: #3880ff;
        --background-focused: #3880ff;
        --border-width: 0 !important;
        --border-radius: 0 !important;
        --indicator-color: var(--transparent) !important;
        --indicator-box-shadow: none !important;
        --ripple-color: var(--transparent) !important;
        --color-hover: var(--white);
        --background-hover: var(--transparent) !important;
        --color-checked: var(--white);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 5px;
            display: block;
            background: var(--primary) !important;
            transition: all .3s;
        }

        &.segment-button-checked {
            color: var(--white) !important;
            opacity: 1;


            &::after {
                width: 70px
            }
        }

    }
}


.form2 {
    display: block;
    /*overflow: hidden;*/
    position: relative;
    margin: 0 auto;
    width: calc(100% - 74px);
    z-index: 99;

    ion-list {
        background: var(--transparent) !important;
        margin: 0;
        padding: 0;
    }

    ion-item {
        padding: 4px 16px;
        width: calc(100% - 0px);
        min-height: unset !important;
        margin: 0 auto;
        --background: var(--transparent);
        background: rgba(44,193,239,0.7);
        align-items: flex-start;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        box-shadow: 0 7px 6px -7px rgba(0, 0, 0, 0.5) !important;
        margin-bottom: 13px;
        --ripple-color: var(--transparent) !important;
        --background-focused: var(--transparent) !important;

        ion-icon {
            color: var(--white);
            margin: 0;
            font-size: 0.98rem;
            min-width: 37px;
            height: 16px;
            line-height: normal;

        }

        .icon_box {
            min-width: 35px;

            img {
                width: 18px;
            }
        }

        ion-label {
            color: #fff;
            font-size: 0.75rem !important;
            font-weight: 400;
            /*margin-bottom: 6px !important;*/
            transform: unset !important;
            text-transform: capitalize;
            letter-spacing: 0.5px !important;
            margin-left: -30px;
            margin-top: 5px;
            opacity: .9;
        }

        ion-select {
            --padding: 0 !important;
            font-size: 1rem !important;
            font-weight: 500 !important;
            letter-spacing: 0;
            --padding-start: 0px !important;
            --padding-end: 0px !important;
            --padding-top: 8px !important;
            --padding-bottom: 8px !important;
            color: #fff;
            --placeholder-color: #fff !important;
            --placeholder-opacity: .7;
            --placeholder-font-weight: 500 !important;
            flex: unset !important;
            margin-left: -30px;
            

            ion-select-option {
                background-color:#ffffff;
            }

            input {
                --padding: var(--no-padding);

                &.native-input {
                    --padding: var(--no-padding);
                }
            }
        }
        
        ion-textarea,
        ion-input,ion-datetime {
            --padding: 0 !important;
            font-size: 1rem !important;
            font-weight: 500 !important;
            letter-spacing: 0;
            --padding-start: 0px !important;
            --padding-end: 0px !important;
            --padding-top: 0px !important;
            --padding-bottom: 0px !important;
            color: #fff;
            --placeholder-color: #fff !important;
            --placeholder-opacity: .5;
            --placeholder-font-weight: 500 !important;
            flex: unset !important;
            margin-left: -30px;
            width: 250px;
        

            input {
                --padding: var(--no-padding);

                &.native-input {
                    --padding: var(--no-padding);
                }
            }
        }

        /*&.item-select {
            ion-select {
                padding: 0;
                font-size: 1rem !important;
                font-weight: 400 !important;
                letter-spacing: 0;
                color: var(--text-black);
                --placeholder-color: var(--text-light);
                --placeholder-opacity: 1;

            }
        }*/

        h5 {
            margin: 0;
            color: var(--primary);
            font-size: .85rem;
            height: 45px;
            line-height: 55px;
            letter-spacing: .4px;
        }
    }

    ion-row {
        margin: 0 -5px;
    }
}