<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">


  <div class="form2">
    <div *ngIf="usertype == 'patient'">
        <div id="info">
          <h1 class="ion-text-center" style="font-size:13px;color:floralwhite;">Write<span> 
            Review About {{partname}} who is a {{occupation}}</span></h1>
        </div>
        <ion-list lines="none">

            <ion-item lines="none">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                    <div class="input_field">
                      <ion-label position="stacked">Content</ion-label>
                      <ion-textarea type="text" [(ngModel)]="revcontent"></ion-textarea>
                  </div>
              </div>
            </ion-item>

        </ion-list>
        <ion-button size="large" expand="full" class="btn" (click)="sendReview()" [disabled]="disabledButton">SUBMIT</ion-button>
      </div>




      <div id="backinfo">
        <ion-grid>


         <div>
           <ion-row class="ion-align-items-center">
             <ion-col size="12">
               <h4>Reviews</h4>
             </ion-col>
             <ion-col size="3">
              <h4>Date</h4>
            </ion-col>
             <ion-col size="3">
               <h4>Reviewer</h4>
             </ion-col>
             <ion-col size="6">
               <h4>Reviews</h4>
             </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center info" *ngFor="let data of reviewdata">
            <ion-col size="3">
              <p>{{data.revdate}}</p>
            </ion-col>
            <ion-col size="3">
              <p>{{data.patname}}</p>
            </ion-col>
            <ion-col size="6">
              <p>{{data.content}}</p>
            </ion-col>
          </ion-row>
        </div>

        </ion-grid>
      </div>

    </div>
</ion-content>
