<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title id="title">Bills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg_img">

  <div id="container">

    <ion-grid>

      <ion-row class="ion-align-items-center" id="medkit">
        <ion-col size="4">
        </ion-col>
        <ion-col size="4">
           <p><ion-icon name="card"></ion-icon></p>
           <p id="name">{{name}}</p>
        </ion-col>
        <ion-col size="4">
        </ion-col>
        <ion-col size="12" *ngIf="patient">
          <ion-button size="small" expand="" class="mybutton" [routerLink]="['/billpay']">
            Add Bills
           </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-align-items-center" id="info">
        <ion-col size="12">
          <h4></h4>
        </ion-col> 
        <ion-col size="12">
          <h4>Bills</h4>
        </ion-col>
        <ion-col size="4">
          <h4>Date of Payment</h4>
        </ion-col>
        <ion-col size="4">
          <h4>Service Paid For</h4>
        </ion-col>
        <ion-col size="4">
          <h4>Amount Paid</h4>
        </ion-col>
      </ion-row>

       <ion-row class="ion-align-items-center" id="info" *ngFor="let data of billpaydata">
        <ion-col size="4">
          <p>{{data.paydate}}</p>
        </ion-col>
        <ion-col size="4">
          <p>{{data.servicename}}</p>
        </ion-col>
        <ion-col size="4">
          <p>{{data.amount}}</p>
        </ion-col>
       </ion-row>
    </ion-grid>

  </div>



</ion-content>
