#info {
    background-color: rgba(4, 199, 255, 0.6);
    padding: 1em;
 h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    color:#fff;
    font-size:15px;
    font-weight: 600;
}
span {
    font-size: 14px;
    font-weight: 400;
}

ion-toggle {
  /*--background: #fff;
  --background-checked: #29bf12;*/
  --color: #29bf12;
  font-size: 20px;
}

}