<ion-header>
  <ion-toolbar> 
      <ion-buttons slot="start">
          <!--<ion-menu-button></ion-menu-button>-->
          <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>
          <div class="title_inner d-flex"> Profile </div>
      </ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="events_tab">
      <ion-segment-button value="profile">
        <ion-label>Profile</ion-label>
      </ion-segment-button>
      <ion-segment-button value="myemail">
        <ion-label>Email / Phone</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pics">
        <ion-label>Picture</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pass">
        <ion-label>Password</ion-label>
      </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" class="bg_img">
  <div [ngSwitch]="events_tab">
  <div class="form2" *ngSwitchCase="'profile'">
      <div id="info">
      <p style="text-align: center;color: floralwhite;font-size:13px;">My Profile</p>
      </div>
      
      <ion-list lines="none" *ngIf="patient">
          <ion-item lines="none" style="display:none;">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                      <ion-label position="stacked">User ID</ion-label>
                      <ion-input mode="md" type="text" value="{{userid}}" [(ngModel)]="userid"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                      <ion-label position="stacked">Name</ion-label>
                      <ion-input mode="md" type="name" value="{{name}}" [(ngModel)]="name"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon> 
                  <div class="input_field">
                        <ion-label position="stacked">Country</ion-label>
                      <ion-input mode="md" type="text"  value="{{country}}" [(ngModel)]="country"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                    <div class="input_field">
                      <ion-label position="stacked">Address</ion-label>
                      <ion-input mode="md" type="text" value="{{address}}" [(ngModel)]="address"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                    <div class="input_field">
                      <ion-label position="stacked">State</ion-label>
                      <ion-input mode="md" type="text" value="{{state}}" [(ngModel)]="state"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                    <div class="input_field">
                      <ion-label position="stacked">City</ion-label>
                      <ion-input mode="md" type="text" value="{{city}}" [(ngModel)]="city"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Date Of Birth</ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="DD-MMM-YY" name="mydate" type="text" [(ngModel)]="dob" required="true">{{dob}}</ion-datetime>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                    <ion-select placeholder="Gender" [(ngModel)]="gender" mode="md" class="custom-options" interface="popover" (ionChange)="getSelectedGenderValue(gender)" required>
                        <ion-select-option value="{{gender}}" class="patient-option">{{gender}}</ion-select-option>
                        <ion-select-option value="Male" class="patient-option">Male</ion-select-option>
                        <ion-select-option value="Female">Female</ion-select-option>
                    </ion-select>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">LGA</ion-label>
                    <ion-input mode="md" type="text" value="{{lga}}" [(ngModel)]="lga"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Language</ion-label>
                    <ion-input mode="md" type="text" value="{{lang}}" [(ngModel)]="lang"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Occupation</ion-label>
                    <ion-input mode="md" type="text" value="{{occupation}}" [(ngModel)]="occupation"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Level of Education</ion-label>
                    <ion-input mode="md" type="text" value="{{edulevel}}" [(ngModel)]="edulevel"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                    <ion-select placeholder="Marital Status" [(ngModel)]="maritalstatus" mode="md" class="custom-options" interface="popover" (ionChange)="getSelectedMaritalStatusValue(maritalstatus)" required>
                        <ion-select-option value="{{maritalstatus}}" class="patient-option">{{maritalstatus}}</ion-select-option>
                        <ion-select-option value="Single" class="patient-option">Single</ion-select-option>
                        <ion-select-option value="Married">Married</ion-select-option>
                    </ion-select>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Next Of Kin</ion-label>
                    <ion-input mode="md" type="text" value="{{nextofkin}}" [(ngModel)]="nextofkin"></ion-input>
                </div>
            </div>
        </ion-item>
          <ion-button size="small" expand="full" class="btn" (click)="changeProfile()">
            UPDATE</ion-button>
      </ion-list>
      



      <ion-list lines="none" *ngIf="physician">
        <ion-item lines="none" style="display:none;">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                <div class="input_field">
                    <ion-label position="stacked">User ID</ion-label>
                    <ion-input mode="md" type="text" value="{{userid}}" [(ngModel)]="userid"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                <div class="input_field">
                    <ion-label position="stacked">Name</ion-label>
                    <ion-input mode="md" type="name" value="{{name}}" [(ngModel)]="name"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
          <div class="item_inner d-flex">
              <ion-icon class="zmdi ion-text-start"></ion-icon>
              <div class="input_field">
                  <ion-label position="stacked">Company Name</ion-label>
                  <ion-input mode="md" type="text" value="{{compname}}" [(ngModel)]="compname"></ion-input>
              </div>
          </div>
       </ion-item>
       <ion-item lines="none">
          <div class="item_inner d-flex">
              <ion-icon class="zmdi ion-text-start"></ion-icon>
              <div class="input_field">
                  <ion-label position="stacked">License No</ion-label>
                  <ion-input mode="md" type="text" value="{{licenseno}}" [(ngModel)]="licenseno"></ion-input>
              </div>
          </div>
       </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon> 
                <div class="input_field">
                      <ion-label position="stacked">Country</ion-label>
                    <ion-input mode="md" type="text"  value="{{country}}" [(ngModel)]="country"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Address</ion-label>
                    <ion-input mode="md" type="text" value="{{address}}" [(ngModel)]="address"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">State</ion-label>
                    <ion-input mode="md" type="text" value="{{state}}" [(ngModel)]="state"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">City</ion-label>
                    <ion-input mode="md" type="text" value="{{city}}" [(ngModel)]="city"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Date Of Birth</ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="DD-MMM-YY" name="mydate" type="text" [(ngModel)]="dob" required="true">{{dob}}</ion-datetime>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                    <ion-select placeholder="Gender" [(ngModel)]="gender" mode="md" class="custom-options" interface="popover" (ionChange)="getSelectedGenderValue(gender)" required>
                        <ion-select-option value="{{gender}}" class="patient-option">{{gender}}</ion-select-option>
                        <ion-select-option value="Male" class="patient-option">Male</ion-select-option>
                        <ion-select-option value="Female">Female</ion-select-option>
                    </ion-select>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">LGA</ion-label>
                    <ion-input mode="md" type="text" value="{{lga}}" [(ngModel)]="lga"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Language</ion-label>
                    <ion-input mode="md" type="text" value="{{lang}}" [(ngModel)]="lang"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Occupation / Area of Specialty</ion-label>
                    <ion-input mode="md" type="text" value="{{occupation}}"readonly></ion-input>
                  </div>                  
             </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                      <ion-select placeholder="Change Area of Specialty" [(ngModel)]="position" mode="md" class="custom-options" interface="popover" (ionChange)="getSelectedAreaValue(position)" required>
                        <ion-select-option value="{{data.areaname}}" class="patient-option" *ngFor="let data of areadata">{{data.areaname}}</ion-select-option>
                      </ion-select>
                  
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Level of Education</ion-label>
                    <ion-input mode="md" type="text" value="{{edulevel}}" [(ngModel)]="edulevel"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                    <ion-select placeholder="Marital Status" [(ngModel)]="maritalstatus" mode="md" class="custom-options" interface="popover" (ionChange)="getSelectedMaritalStatusValue(maritalstatus)" required>
                        <ion-select-option value="{{maritalstatus}}" class="patient-option">{{maritalstatus}}</ion-select-option>
                        <ion-select-option value="Single" class="patient-option">Single</ion-select-option>
                        <ion-select-option value="Married">Married</ion-select-option>
                    </ion-select>
            </div>
        </ion-item>
        <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                    <ion-label position="stacked">Next Of Kin</ion-label>
                    <ion-input mode="md" type="text" value="{{nextofkin}}" [(ngModel)]="nextofkin"></ion-input>
                </div>
            </div>
        </ion-item>
        <ion-button size="small" expand="full" class="btn" (click)="changeProfile2()">
          UPDATE</ion-button>
    </ion-list>
    </div>



    <div class="form2" *ngSwitchCase="'myemail'">
     <div id="info">
      <p style="text-align: center;color: floralwhite;font-size:13px;">My Email</p>
     </div>
      <ion-list lines="none">
          <ion-item lines="none" style="display:none;">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                      <ion-label position="stacked">User ID</ion-label>
                      <ion-input mode="md" type="text" value="{{userid}}" [(ngModel)]="userid"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                      <ion-label position="stacked">Email</ion-label>
                      <ion-input mode="md" type="text" value="{{email}}" [(ngModel)]="email"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item>
            <ion-button size="" expand="expand" class="mybtn" 
            style="background-color: #ffffff;" type="submit" (click)="getVerificationCode()">GET VERIFICATION CODE</ion-button>          
          </ion-item>
          <ion-item lines="none">
            <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-lock ion-text-start"></ion-icon>
                <ion-input mode="md" type="text" placeholder="Verification Code" [(ngModel)]="code"></ion-input>
            </div>
        </ion-item>


      </ion-list>
      <ion-button size="small" expand="full" class="btn" (click)="changeEmail()">UPDATE</ion-button>
    </div>




    <div class="form2" *ngSwitchCase="'myemail'">
     <div id="info">
      <p style="text-align: center;color: floralwhite;font-size:13px;">My Phone Number</p>
     </div>
      <ion-list lines="none">
          <ion-item lines="none" style="display:none;">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                      <ion-label position="stacked">User ID</ion-label>
                      <ion-input mode="md" type="text" value="{{userid}}" [(ngModel)]="userid"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none" style="display: block;">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                      <ion-label position="stacked"></ion-label>
                      <ion-input mode="md" type="text" value="{{pnum1}}"readonly></ion-input>
                  </div>
              </div>
          </ion-item>
            <ion-item lines="none" style="display:none;">
                <div class="item_inner d-flex">
                <ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon>
                <ion-input mode="md" type="text"  [(ngModel)]="phonenum"></ion-input>
                </div>
            </ion-item>
            <ion-item>
                <p style="display: block;">
                <label style="color:#b8b8b8;font-size:12px;display: block;">Select Your Dialling Code and Input Your Phone Number</label>
                </p>
            </ion-item>
            <form #parentForm="ngForm" (input)="getCode(parentForm)">
                <div>
                <ion-intl-tel-input [(ngModel)]="pnum" id="phone-number" name="pnum" #phoneNumberControl="ngModel" ionIntlTelInputValid></ion-intl-tel-input>
                </div>
                <div *ngIf="phoneNumberControl.invalid && phoneNumberControl.touched">
                <ion-text color="white" *ngIf="phoneNumberControl.errors.required">
                    <p class="ion-no-margin"><sub>Phone number is required.</sub></p>
                </ion-text>
                <ion-text color="white" *ngIf="phoneNumberControl.errors.phone">
                    <p class="ion-no-margin"><sub>Phone number is not valid.</sub></p>
                </ion-text>
                <br>
                </div>
            </form>





      </ion-list>
      <ion-button size="small" expand="full" class="btn" (click)="changePnum()" style="display: block;">UPDATE</ion-button>
      <br><br>
    </div>






    <div class="form2" *ngSwitchCase="'pics'">
     <div id="info">
      <p style="text-align: center;color: floralwhite;font-size:13px;">My Picture</p>
      </div>
      <ion-list lines="none">
          <ion-item lines="none" style="display:none;">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                      <ion-label position="stacked">User ID</ion-label>
                      <ion-input mode="md" type="text" value="{{userid}}" [(ngModel)]="userid"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none" id="ionitem">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field2">
                      <ion-label for="file" class="label" style="text-align:center;">{{photoname}}</ion-label>
                      <ion-input
                      id="file" type="file" class="inputfile"
                      (change)="onFileChange($event)"></ion-input>
                      
                  </div>
              </div>
          </ion-item>

      </ion-list>
      <ion-button size="small" expand="full" class="btn" (click)="upload()">UPLOAD</ion-button>
    </div>





    <div class="form2" *ngSwitchCase="'pass'">
      <div id="info">
       <p style="text-align: center;color: floralwhite;font-size:13px;">Change Password</p>
      </div>
      <ion-list lines="none">
          <ion-item lines="none" style="display:none;">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                      <ion-label position="stacked">User ID</ion-label>
                      <ion-input mode="md" type="text" value="{{userid}}" [(ngModel)]="userid"></ion-input>
                  </div>
              </div>
          </ion-item>
          <ion-item lines="none">
              <div class="item_inner d-flex">
                  <ion-icon class="zmdi ion-text-start"></ion-icon>
                  <div class="input_field">
                      <ion-label position="stacked">New Password</ion-label>
                      <ion-input mode="md" type="password" value="{{pass}}" [(ngModel)]="pass"></ion-input>
                  </div>
              </div>
          </ion-item>

      </ion-list>
      <ion-button size="small" expand="full" class="btn" (click)="changePass()">UPDATE</ion-button>
    </div>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  
</ion-footer>
