<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">
    <div class="logo ion-text-center">
        <img src="assets/imgs/logo.png">
        <!--<h1 class="ion-text-center">The<span>Church</span></h1>-->
    </div>
    <br>
    <h2 class="ion-text-center ion-text-uppercase">Forgot <strong>Password?</strong></h2>
    <p class="ion-text-center">
        Enter your email
        <br>
        You will receive a code
        <br>
        to reset your passoword
    </p>
    <div class="form">
        <ion-list lines="none">
            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon>
                    <ion-select placeholder="Select User Type" [(ngModel)]="usertype" mode="md" class="custom-options" interface="popover" (ionChange)="getSelectedUsertypeValue(usertype)" required>
                        <ion-select-option value="patient" class="patient-option">Patient</ion-select-option>
                        <ion-select-option value="physician">Physician</ion-select-option>
                        <ion-select-option value="nurse">Nurse</ion-select-option>
                        <!--<ion-select-option value="hospital">Hospital</ion-select-option>-->
                        <ion-select-option value="organization">Organization</ion-select-option>
                    </ion-select>
                </div>
            </ion-item>
            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon>
                    <ion-input mode="md" type="text" placeholder="Email" 
                    [(ngModel)]="email"></ion-input>
                </div>
            </ion-item>
            <!--<div style="display: inline-block;">
                <p style="font-size:.7em;color:#fff;">
                  <span style="font-weight: 700;">Phone Number Format:</span> +2348012345678
                </p>
            </div>-->
           
        </ion-list>
         <ion-button size="small" expand="full" class="btn" (click)="passwordcode()" color="secondary">Submit</ion-button>
       
    </div>
</ion-content>